= form_for(user) do |f|
 .field
 = f.label :name
 = f.text_field :name
 .field
 = f.label :email
 = f.email_field :email
 .field
 = f.label :age
 = f.number_field :age
 .field
 = f.label :gender
 = f.radio_button :gender, "male"
 Male
 = f.radio_button :gender, "female"
 Female

 .field
 = f.label :favorite_colors
 - ["red", "organe", "blue", "yellow"].each do |value|
  = f.check_box :favorite_colors, { :multiple => true }, value
  = value.to_s.capitalize

 .field
 = f.label :level
 = f.select :level, User.levels

 .actions
 = f.submit